<head>
    {% load static %}
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
    <title>SimuLDPC</title>
    <link rel="shortcut icon" href="../media/figs/icon.png">

    <style>
        .text {
            color: white !important;
        }
        
        .navbar {
            background-color: black;
            font-weight: bold;
            height: 10%;
        }
        
        #loader {
            display: none;
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            width: 100%;
            background: rgba(0, 0, 0, 0.794) url(../media/figs/loader.gif) no-repeat center center;
            z-index: 10000;
        }
        
        .my-content {
            overflow: auto;
        }
        
        body {
            background-color: rgba(0, 0, 0, 0.931);
        }
        /*         
        .my-row {
            border: 2px solid blue;
        } */
    </style>
</head>

<body>
    <nav class="navbar">
        <a class="navbar-brand text" style="font-size: xx-large;">BSC channel</a>
        <span class="navbar-text">
            <a class = "nav-link" href = "/" style = "color: white; font-size: x-large;">Home</a>
        </span>
    </nav>

    <div class="container">
        <div class="row my-row text">
            <div class="col-md-6 rounded" style="background-color: rgba(0, 2, 27, 0.959);">
                <form id="inputForm" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <br> {{form.as_p}}
                    <button type="submit" id="sim" class="btn btn-primary btn-lg" style="background-color: rgb(0, 90, 90); ">Simulate</button>
                </form>
            </div>


            <div class="col-md-6 my-content rounded" style="background-color: rgba(0, 29, 22, 0.952);">
                <br>
                <div class="card" style="background-color: black;">
                    <img src=" ../media/figs/input.png " class="img-fluid float-left " alt="Responsive image " width=100%>
                    <div class="card-body ">
                        <p class="card-text text-center text" style="font-weight: bold;">Uploaded Image</p>
                    </div>
                </div>
                <br>
            </div>
        </div>

        <div class="row my-row text">
            <div class="col-md-6 my-content rounded" style="background-color: rgba(22, 0, 0, 0.959); text-align: center;">
            <br>
                <span style="font-weight: bold;">Results</span>
                <br>
                <table class="table table-striped table-dark" style="text-align: center;">
                    <thead>
                        <tr>
                            <th scope="col ">Bit-Flip probability (p)</th>
                            <th scope="col ">BER</th>
                        </tr>
                    </thead>

                    <tbody>
                        {% for P, BER in ber.items %}
                        <tr>
                            <td>{{P}}</td>
                            <td>{{BER}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <br>
            </div>

            <div class="col-md-6 my-content rounded" style="background-color: rgba(0, 0, 0, 0.904);">
            <br>
                <div class="card text-center " style="background-color: black; font-weight: bold;">
                    <img src="../media/figs/output.png " id="plot " class="img-fluid float-left " alt="Responsive image " width=100%>
                    <div class="card-body ">
                        <p class="card-text">BER v/s SNR plot</p>
                    </div>
                </div>
                <br>
            </div>
        </div>
    </div>

    <div id="loader"></div>

    {%include "main/includes/footer.html"%}

    <script>
        $('#inputForm').submit(function() {
            $('#loader').show();
            return true;
        });
    </script>
</body>