<head>
    <style>
        .fa {
            width: 25px;
            padding: 20px;
            font-size: 25px;
            text-align: center;
            text-decoration: none !important;
            margin: 5px 2px;
            color: white;
            border-radius: 50%;
        }
        
        .fa:hover {
            opacity: 0.7;
        }
        
        a {
            color: rgb(0, 141, 184);
        }
    </style>
</head>

<br>
<footer class="site-footer text" style="z-index: 999; background-color: black;">
    <div class="container">
        <div class="row">
            <div class="col-xs-6 col-md-4">
                <p><span style="font-weight: bold;">About the Developer:</span> <br><a href="https://mastan1301.github.io/">Shaik-Mastan</a></p>
            </div>
            <div class="col-xs-6 col-md-4">
                <h6 style="font-weight: bold;">Developer Contact:</h6>
                <p><a target="_blank" href="mailto:shaikmastandino@gmail.com">shaikmastandino@gmail.com</a> <br> +917569348031</p>
            </div>

            <div class="col-xs-6 col-md-4">
                <a href="https://www.facebook.com/shaikmastandino" class="fa fa-facebook"></a>
                <a href="https://www.linkedin.com/in/mastan-shaik-4b0086174/" class="fa fa-linkedin"></a>
                <a href="https://github.com/Mastan1301" class="fa fa-github"></a>
            </div>
        </div>
</footer>